<web-app>
  	<servlet>
    		<servlet-name>Servlet3</servlet-name>
    		<servlet-class>Calculator</servlet-class>
  	</servlet>
  	<servlet-mapping>
    		<servlet-name>Servlet3</servlet-name>
    		<url-pattern>/cal</url-pattern>
  	</servlet-mapping>
  	<welcome-file-list>
  		<welcome-file>calculator.html</welcome-file>
  	</welcome-file-list>
</web-app>

